{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "plugins": ["lodash"],
  "parserOptions": {
    "ecmaVersion": 9,
    "ecmaFeatures": {
      "impliedStrict": true
    },
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "globals": {
    "angular": false
  }
}
