

main {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  padding: 1em;
  text-align: center;
}

footer {
  font-size: .8em;
  text-align: center;
}

[fl-container] {
  position: relative;
}

.fl-item {
  cursor: move;
  position: absolute;
}

[fl-item] > * {
  cursor: initial;
  height: 100%;
  width: 100%;
}

[fl-item]:hover {
  border: 1px solid blue;
}

[fl-item] {
  transition: all 0.25s linear;
}

.fl-drag-clone {
  position: absolute;
}

.fl-drag-clone .fl-drag-indicator {
  background-color: lightblue;
  opacity: 0.5;
}

/* App specific styles, which should be moved out later */
* {
  box-sizing: border-box;
}

.fl-item {
  padding: 5px; /* Padding determines how much wiggle room is present for the drag */
}

.fl-item > * {
  padding: 5px;
}

[fl-container] {
  border: 1px solid #dddddd;
  height: 1000px;
  margin: 0 auto;
  width: 768px;
}

[fl-container], [fl-item] {
  border: 1px solid #cccccc;
}
