main {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  padding: 1em;
  text-align: center;
}

footer {
  font-size: .8em;
  text-align: center;
}

fl-container, fl-item {
  display: block;
}

fl-container {
  position: relative;
  height: 1000px;
}

fl-item {
  position: fixed;
}

/* App specific styles */
fl-item {
  padding: 15px;
}

fl-container {
  border: 1px solid #dddddd;
}

fl-container fl-item {
  border: 1px dashed #cccccc;
}
