

main {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  padding: 1em;
  text-align: center;
}

footer {
  font-size: .8em;
  text-align: center;
}

[fl-container] {
  position: relative;
}

[fl-item] {
  cursor: move;
  position: absolute;
}

[fl-item] > * {
  cursor: initial;
  height: 100%;
  width: 100%;
}

/* App specific styles, which should be moved out later */
* {
  box-sizing: border-box;
}

[fl-item] {
  padding: 5px; /* Padding determines how much wiggle room is present for the drag */
}

[fl-item]:hover {
  border: 1px solid blue;
}

[fl-item] {
  transition: all 0.35s linear;
}

[fl-item].ui-draggable-dragging {
  transition: none;
  background-color: pink;
  opacity: 0.5;
}

[fl-item].fl-item-drag-active {
  transition: none;
}

[fl-item] > * {
  padding: 5px;
}

[fl-container] {
  border: 1px solid #dddddd;
  height: 1000px;
}

[fl-container], [fl-item] {
  border: 1px dashed #cccccc;
}
