[fl-item].ui-resizable-resizing {
  display: none;
}

.fl-resize-indicator {
  border: 1px solid blue;
  background-color: blue;
  opacity: 0.3;
  z-index: 1;
}

/* jQuery's autohide option is not working, this fixes that */
.fl-item:not(:hover) .fl-resizable {
  display: none !important;
}

.fl-resizable {
  background-color: blue;
  border-radius: 4px;
  height: 8px;
  width: 8px;
}

.fl-resizable.ui-resizable-e {
  right: -4px;
  top: calc(50% - 4px);
}

.fl-resizable.ui-resizable-se {
  bottom: -4px;
  right: -4px;
}

.fl-resizable.ui-resizable-s {
  bottom: -4px;
  left: calc(50% - 4px);
}

.fl-resizable.ui-resizable-sw {
  bottom: -4px;
  left: -4px;
}

.fl-resizable.ui-resizable-w {
  left: -4px;
  top: calc(50% - 4px);
}

.fl-resizable-helper {
  border: 2px solid green;
  position: absolute;
}
